/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #F4EFFA;
  color: white;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Cabeçalho */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #2F184B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 10;
}
.logo-nome {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header h2 {
  font-size: 25px;
  color: #fcdbff;
  font-family: "Carattere";
}
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: #9B72CF;
}

/* Seções */
.section {
  min-height: 100vh;
  padding: 100px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator {
  border-top: 5px solid #b366ff;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.466);
}

/* Cores diferentes */
#inicio {
  background: #F4EFFA; /* fundo preto padrão */
}
#sobre {
  background: #9B72CF; /* roxo escuro */
  text-align: center;
}
#projetos {
  background: #C8B1E4; /* azul escuro */
  text-align: center;
}
#contato {
  background: #532B88; /* verde escuro */
}

/* Intro */
.intro {
  text-align: center;
}
.intro h2 {
  font-size: 75px;
  margin-bottom: 10px;
  color: #b366ff; 
  font-family: "Irish Grover", system-ui;
}
.intro-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-apresentacao {
  width: 300px;
  border-radius: 15px;
}

/* Sobre mim */
#sobre h2 {
  margin-bottom: 20px;
  color: #2F184B;
}
#sobre p {
  margin: 10px 0;
  line-height: 1.6;
}

/* Projetos */
#projetos h2 {
  margin-bottom: 40px;
  color: #2F184B;
}
.projetos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.projeto {
  background: #F4EFFA;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.295);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projeto img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}
.projeto button {
  background: #2F184B;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
   text-decoration: none; /* remove o sublinhado */
}
.projeto button:hover {
  transform: scale(1.1);
   text-decoration: none; /* remove o sublinhado */
}

.projeto button a {
  text-decoration: none;
  color: white;
  outline: none;
}

.projeto button a:focus {
  outline: none;
  box-shadow: none;
}


/* Contato */
#contato h2 {
  margin-bottom: 60px;
  color: #C8B1E4;
  text-align: center;
}
.contato-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.foto {
  width: 300px;
  border-radius: 20px;
}
.contato-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.contato-info a {
  text-decoration: none;
  color: white;
  font-size: 18px;
 
}
.contato-info a:hover {
  transform: scale(1.1);
  color: #2F184B;
}
.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
   border-radius: 5px;
}
.contato-info p:hover .icon {
  transform: scale(1.1);
}

/* Rodapé */
footer {
  background: #2F184B;
  height: 40px;
}

.contato{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foto-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

